<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="101b2899-93de-4a4e-9998-5e4868f85b7a" Publisher="CN=Xu Wuyang" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LiveBoard</DisplayName>
    <PublisherDisplayName>Xu Wuyang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LiveBoard.App">
      <VisualElements DisplayName="LiveBoard" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LiveBoard" ForegroundText="light" BackgroundColor="#272727">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>